<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">Appointment Type</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">

    <div class="item-custom ion-padding-horizontal" (click)="onCategorySelect('salon')">
      <span style="font-weight:bold; text-transform: capitalize; font-size: 1.3em;">Salon Booking</span><br>
    </div>

    <div class="item-custom ion-padding-horizontal" (click)="onCategorySelect('home')">
      <span style="font-weight:bold; text-transform: capitalize; font-size: 1.3em;">Home Services</span><br>
    </div>


  </div>
</ion-content>