.item-custom {
    min-height: 130px;
    background: #fff;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
}
hr {
    height: 3px !important;
    width: 50px !important;
    background: #ad0000 !important;
    display: inline-block;
    text-align: left;
}
